.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: '. title title title search search search .';
    line-height: 100px;
    background: white;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.18);
}

.title {
    grid-area: title;
    font-weight: bold;
    font-size: 28px;
    color: #363636;
    letter-spacing: -0.88px;
}

.search {
    grid-area: search;
    /* justify-self: end; */
    display: flex;
    /* width: 100%; */
}

input[type='text'] {
    height: 40px;
    width: 100%;
    padding: 0 0 0 20px;
    outline: none;
    border: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::placeholder { 
    color: #828282;
    opacity: 1; 
    letter-spacing: -0.51px;
  }

#searchButton {
    height: 40px;
    margin-left: -50px;
    width: 50px;
    outline: none;
    border-radius: 4px;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    color: rgb(195, 195, 195);
    vertical-align: sub;
    transition: color .2s ease;
    padding-top: 5px;
}

#searchButton:hover {
    color: #363636;
}

@media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            '. title title title title title title.'
            '. search search search search search search.';
    }

    .title {
        text-align: center;
    }

    .search {
        padding-bottom: 25px;
    }
 }
