.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: '. title title title search search search .';
    line-height: 100px;
    background: white;
    font-size: xx-large;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.18);
    color: black;
}

.title {
    grid-area: title;
    font-weight: bold;
}

.search {
    grid-area: search;
    justify-self: end;
    display: flex;
    width: 100%;
}

input[type='text'] {
    height: 45px;
    width: 100%;
    padding: 0 0 0 20px;
    outline: none;
    border: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

#searchButton {
    height: 45px;
    margin-left: -50px;
    width: 50px;
    outline: none;
    border-radius: 4px;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    color: rgb(195, 195, 195);
    vertical-align: sub;
    transition: color .2s ease;
    padding: 10px;
}

#searchButton:hover {
    color: #13d6ea;
}


@media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            '. title title title title title title.'
            '. search search search search search search.';
    }

    .title {
        text-align: center;
    }

    .search {
        padding-bottom: 25px;
    }

 }
