.container {
    display: grid;
    grid-template-areas: '. title title title search search search .';
    line-height: 80px;
    background: #9c27b0;
    font-size: xx-large;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.title {
    grid-area: title;
    font-weight: bold;
}

.search {
    grid-area: search;
    justify-self: end;
    display: flex;
    width: 100%;
}

input[type='text'] {
    height: 45px;
    width: 100%;
    padding: 0 50px 0 10px;
    outline: none;
    border: none;
    border-radius: 4px;
}

#searchButton {
    height: 45px;
    margin-left: -50px;
    width: 50px;
    outline: none;
    border-radius: 4px;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    color: rgb(195, 195, 195);
    vertical-align: sub;
    transition: color .2s ease;

}

#searchButton:hover {
    color: #9c27b0;
}


@media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            '. title .'
            '. search .';
    }

    .title {
        text-align: center;
    }

    .search {
        padding-bottom: 25px;
    }

 }