.wrap {
    display: grid;
    grid-template-columns: repeat(11, .14fr);
    grid-template-areas: 
        'albumImage albumTitle albumTitle . . . released . price favorite favorite'
        'albumImage artistName artistName . . . released . price favorite favorite';
    padding: 18px 20px 18px 20px;
    background: white;
    margin: 25px 0 25px 0;
    box-shadow: 0px 1px 5px 0px #e7e7e7
    /* box-shadow: 0 20px 10px -36px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.14), 0 -1px 10px 0 rgba(0,0,0,.12); */
}

.albumImage {
    grid-area: albumImage;
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 10px;
    background-color: red;
    margin-right: 15px;
}

.albumTitle {
    grid-area: albumTitle;
    display: flex;
    align-items: center;
    color: #363636;
    font-size: 20px;
    font-weight: bold;
}

.artistName {
    grid-area: artistName;
    display: flex;
    align-items: center;
    color: #a0a0a0;
    font-size: 14px;
}

.released {
    grid-area: released;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.released > span {
    color: #a0a0a0;
    font-weight: normal;
}

.price {
    grid-area: price;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
}

.favorite {
    grid-area: favorite;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.favorite > button {
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: #13d6ea;
    color: white;
    border: 1px solid #13d6ea;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease;
    font-weight: bold;
    white-space: nowrap;
}

.favorite > button.toggle {
    border: 1px solid #13d6ea;
    background-color: white;
    color: #13d6ea;
}

.favorite > button.toggle::after {
    content: 'Remove Favorite'
}

.favorite > button:hover {
    border: 1px solid #13d6ea;
    background-color: white;
    color: #13d6ea;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

@media only screen and (max-width: 700px) {

    /* 'albumImage albumTitle albumTitle . . . released . price favorite favorite' */

    .wrap {
        grid-template-columns: 200px 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            'albumImage albumTitle'
            'albumImage artistName'
            'albumImage released'
            'albumImage price'
            '. .'
            'favorite favorite';
            padding: 25px;
    }
    
    .albumImage {
        width: 150px;
        height: 150px;
    }
}