.wrap {
    display: grid;
    grid-template-columns: repeat(11, .14fr);
    grid-template-rows: repeat(2, 45px);
    grid-template-areas: 
        'albumImage albumTitle albumTitle albumTitle albumTitle released released price price favorite favorite'
        'albumImage artistName artistName artistName artistName released released price price favorite favorite';
    padding: 18px 20px 18px 20px;
    background: white;
    margin: 25px 0 25px 0;
    box-shadow: 0px 1px 5px 0px #e7e7e7
}

.albumImage {
    grid-area: albumImage;
    width: 90px;
    height: 90px;
    display: flex;
    border-radius: 10px;
    background-color: red;
    margin-right: 15px;
}

.albumTitle {
    grid-area: albumTitle;
    display: block;
    color: #363636;
    font-size: 24px;
    font-weight: 600;
    margin-right: 30px;
    line-height: 45px;
    letter-spacing: -0.66px;
}

.artistName {
    grid-area: artistName;
    display: block;
    color: #a0a0a0;
    font-size: 14px;
    text-decoration: none;
    transition: opacity .2s ease;
    text-transform: uppercase;
    margin-right: 30px;
    line-height: 45px;
    letter-spacing: -0.44px;
}

.artistName:hover {
    opacity: 0.5
}

.released {
    grid-area: released;
    display: block;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    line-height: 90px;
}

.released > span {
    color: #a0a0a0;
    font-weight: normal;
    align-items: center;
}

.price {
    grid-area: price;
    display: block;
    align-items: center;
    font-weight: 600;
    margin-right: 15px;
    font-size: 16px;
    line-height: 90px;
}

.notFavorite > button {
    opacity: 1;
    outline: none;
    background: transparent;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    color: #13d6ea;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    transition: opacity .2s ease;
    font-size: 11px;
}

.notFavorite > button:hover {
    opacity: 0.5;
}

.favorite {
    grid-area: favorite;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.isFavorite > button {
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: #13d6ea;
    color: white;
    border: 1px solid #13d6ea;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease;
    font-weight: bold;
    font-size: 11px;
}

.isFavorite > button:hover {
    border: 1px solid #13d6ea;
    background-color: white;
    color: #13d6ea;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

@media only screen and (max-width: 1200px) {
    .favorite > button {
        font-size: 8px;
    }
}

@media only screen and (max-width: 770px) {
    .favorite > button {
        font-size: 6px;
    }
    .albumTitle {
        font-size: 17px;
    }

    .artistName {
        font-size: 11px;
    }

    .released {
        font-size: 12px;
    }

    .price {
        font-size: 12px;
    }

}

@media only screen and (max-width: 700px) {

    .wrap {
        grid-template-columns: 200px 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            'albumImage albumTitle'
            'albumImage artistName'
            'albumImage released'
            'albumImage price'
            '. .'
            'favorite favorite';
            padding: 25px;
    }
    
    .albumImage {
        width: 150px;
        height: 150px;
    }

    .albumTitle {
        margin: 0;
        line-height: normal;
    }

    .artistName {
        margin: 0;
        line-height: normal;
    }

    .released {
        margin: 0;
        line-height: normal;
    }

    .price {
        margin: 0;
        line-height: normal;
    }
    
}


@media only screen and (max-width: 450px) {

    .wrap {
        grid-template-columns: 100px 1fr;
    }

    .albumImage {
        width: 80px;
        height: 80px;
    }

    .albumTitle {
        font-size: 15px;
    }

    .artistName {
        font-size: 9px;
    }

    .released {
        font-size: 10px;
    }

    .price {
        font-size: 10px;
    }

    .favorites > button {
        font-size: 11px;
    }
}