.albumList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: '. items items items items items items .';
    margin-top: 4rem;
}

.items {
    grid-area: items;
}